.admin-dashboard-container {
  display: flex;
  min-height: calc(100vh - 60px);
}

.admin-sidebar {
  width: 250px;
  background-color: #213240;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.admin-sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.admin-sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none; /* Áp dụng cho button */
  background: none; /* Áp dụng cho button */
  text-align: left; /* Căn chỉnh chữ */
  cursor: pointer; /* Hiển thị con trỏ */
}

.sidebar-link:hover {
  background-color: #0D92FF;
}

.sidebar-link.active {
  background-color: #0D92FF;
  font-weight: bold;
}

.logout-button {
  margin-top: 20px; /* Tách biệt nút đăng xuất */
  background-color: #dc3545; /* Màu đỏ để nổi bật */
  text-align: center;
  font-weight: 700;
}

.logout-button:hover {
  background-color: #c82333; /* Màu đỏ đậm khi hover */
}

.admin-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .admin-dashboard-container {
    flex-direction: column;
  }

  .admin-sidebar {
    width: 100%;
    padding: 15px;
  }

  .admin-sidebar-title {
    font-size: 20px;
  }

  .sidebar-link {
    font-size: 14px;
  }

  .admin-content {
    padding: 15px;
  }
}