html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% chiều cao màn hình */
}

.content {
  flex: 1;
}